substitutions:
  name: "cosmo-box-3"
  friendly_name: "Cosmo AI"

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  min_version: 2024.6.0
  name_add_mac_suffix: true

wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password
  ap:
    ssid: "Cosmo Fallback Hotspot"

api:

logger:
  level: DEBUG

ota:
  - platform: esphome

web_server:
  port: 80
