version: '3.8'

services:
  wakeword:
    build:
      context: ./wakeword
      dockerfile: Dockerfile
    image: cosmo-wakeword
    restart: unless-stopped
    devices:
      # Audio device mapping - Required for access to the microphone
      - "/dev/snd:/dev/snd"
    environment:
      - PYTHONUNBUFFERED=1
      - DIST_FOLDER=/app/dist
    volumes:
      # Persist detection logs using named volume
      - cosmo_data:/app/dist
    networks:
      - cosmo_network

volumes:
  cosmo_data:


networks:
  cosmo_network:
    driver: bridge
