substitutions:
  name: "cosmo-box-3"
  friendly_name: "Cosmo AI"

esphome:
  name: ${name}
  friendly_name: ${friendly_name}
  min_version: 2024.6.0
  name_add_mac_suffix: true
  project:
    name: esphome.launch
    version: "1.0"

esp32:
  board: esp32-s3-box-3
  framework:
    type: esp-idf

# Enable logging
logger:

# Enable Home Assistant API
api:

# Enable OTA (Over The Air updates)
ota:
  - platform: esphome

# WiFi configuration
wifi:
  ssid: !secret wifi_ssid
  password: !secret wifi_password

  # Enable fallback hotspot (captive portal) in case wifi connection fails
  ap:
    ssid: "Cosmo Fallback Hotspot"
    password: "password"

captive_portal:
