packages:
  network: !include packages/network.yaml
  hardware: !include packages/hardware.yaml
  audio: !include packages/audio.yaml
  voice: !include packages/voice.yaml
  display: !include packages/display.yaml
